@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}


html, body {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 2em;
}

.wrapper {
    background: linear-gradient(166deg, rgb(0, 0, 0) 0%, rgb(47, 23, 0) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.container {
    width: 70%;
    margin: 2 auto;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.container a{
    width: 10%;
}

.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo img {
    max-width: 100%;
    min-width: 60px;
    height: auto;
}

.logo .logotext {
    font-size: 15px;
    margin-top: 3;
    text-transform: uppercase;
    white-space: nowrap;
}

header nav {
    position: absolute;
    right: 0;
    width: 75%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: inline-block;
    font-weight: 350;
    font-size: 20px;
}

header nav ul li:not(.contact) a:hover {
    text-decoration: underline;
    text-underline-offset: 20px;
}

header nav ul li:not(.contact) a:focus {
    text-decoration: underline;
    text-underline-offset: 20px;
}

header nav ul li.contact a {
    background-color:rgba(67, 38, 16, 0.855);
    padding: 7px;
    border-radius: 10px;
    transition: all 500ms ease;
}

header nav ul li.contact a:hover {
    background-color: rgb(78, 37, 3);;
}

#home-page {
    background-image: url(../img/home-foto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
}

.home {
    width: 70%;
    background-color: #45260569;
    padding: 10px;
    border-radius: 5px;
    margin: 40px 0;
}

.home ul {
    list-style-position: inside;
}
.home ul li {
    text-indent: 5px;
    margin-bottom: 10px;
}

#services-page {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 10px;
}

.services {
    width: 70%;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.transfer {
    background-image: url(../img/transfer.png);
    border-radius: 5px;
    margin: 10px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 46%;
    aspect-ratio: 4 / 3;
}

.taxi {
    background-image: url(../img/taxi.jpeg);
    border-radius: 5px;
    margin: 10px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 46%;
    aspect-ratio: 4 / 3;
}

.business {
    background-image: url(../img/business.jpeg);
    border-radius: 5px;
    margin: 10px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 46%;
    aspect-ratio: 4 / 3;
}

.content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.434);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content h2 {
    padding: 5px;
}

.content span {
    padding: 5px;
    font-size: 16px;
}

#cars-page {
    width: 100%;
    height: auto;
    background-color: #170b00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 10px;
}

.slider {
    text-align: center;
	width: 70%;
	margin: 20px auto;
    display: flex;
    flex-direction: column;
}

/*скрываетвсе radio-input*/
input[type="radio"]{
	display: none;
}

.slider-inner{
    display: flex;
	width: 400%; /*менять в зависимости от количества машин 100*количество*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.slides {
    overflow: hidden;
    width: 100%;
}

.slide{ /*все изображения справа друг от друга*/
	width: 25%; /*менять в зависимости от количества машин 100/количество*/
	float: left;
    display: flex;
    justify-content: center;
}

.car1, .car2, .car3, .car4 {
    border-radius: 5px;
    margin: 10px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
    aspect-ratio: 5 / 3;
    display: grid;
    align-items: end;
}

.car1 h2, .car2 h2, .car3 h2, .car4 h2 {
    background-color: #170b0092;
    padding-top: 5px;
}

.car1 {
    background-image: url(../img/car.jpg);
}

.car2 {
    background-image: url(../img/car2.jpg);
}

.car3 {
    background-image: url(../img/car3.jpg);
}

.car4 {
    background-image: url(../img/car4.jpeg);
}

/*h2 {
	margin-top: -50px;
	background-color: #170b0092;
	padding: 10px 0;
}*/

.arrows{
	margin: 10px 0;
	width: 100%;
}

.arrows label {
	height: 40px;
	width: 40px;
    transition: opacity 0.2s ease-out;
}
.arrows label:hover{
	opacity: 0.6;
}

/*настройка переключения и положения для левой стрелки*/
#switch1:checked ~ .arrows label:nth-child(4),
#switch2:checked ~ .arrows label:nth-child(1),
#switch3:checked ~ .arrows label:nth-child(2),
#switch4:checked ~ .arrows label:nth-child(3){
	background: url("../img/prev.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	float: left;
	margin: 0 0 0 40px;
	display: block;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ .arrows label:nth-child(2),
#switch2:checked ~ .arrows label:nth-child(3),
#switch3:checked ~ .arrows label:nth-child(4),
#switch4:checked ~ .arrows label:nth-child(1) {
	background-image: url("../img/next.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	float: right;
	margin: 0 40px 0 0;
	display: block;
}

label, a{
	cursor: pointer;
}

#switch1:checked ~ .slides .slider-inner{
	margin-left: 0;
}

#switch2:checked ~ .slides .slider-inner{
	margin-left: -100%;
}

#switch3:checked ~ .slides .slider-inner{
	margin-left: -200%;
}

#switch4:checked ~ .slides .slider-inner{
	margin-left: -300%;
}

.dots label{
	border-radius: 10px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #ffffff;
}

.dots label:hover{
	background: #773a00;
	border-color: #777 !important;
}

#switch1:checked ~ .dots label:nth-child(1),
#switch2:checked ~ .dots label:nth-child(2),
#switch3:checked ~ .dots label:nth-child(3),
#switch4:checked ~ .dots label:nth-child(4){
	background: #422000;
	border-color: #fff !important;
}

#rates-page {
    width: 100%;
    height: auto;
    background-color: rgb(47, 23, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 10px;
}

.rates {
    width: 70%;
    margin: 20px auto;
    font-size: 25px;
    border-collapse: separate;
    border-spacing: 10px;
}

th {
    padding: 10px;
    text-align: left;
    background-color: #211205aa;
    border-radius: 5px;
}

th:nth-child(1), th:nth-child(2) {
    width: 35%;
}

.price {
    width: 20%;
    font-style: italic;
}

#contacts-page {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 50px;
}

.contacts-text{
    padding: 20px 0px;
}

.icons {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icons a {
    width: 3%;
    margin: 10px;
}

.icons a img {
    width: 100%;
}

@media (max-width: 850px) {
    .services {
        flex-direction: column;
        width: 60%;
    }

    .transfer, .taxi, .business {
        width: 100%;
        margin: 10px 0;
    }

    .content span {
        font-size: 20px;
    }

    .dots label {
        width: 10px;
        height: 10px;
    }
}
